################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreLearning/.vs
/CoreLearning/bin/
/CoreLearning/bin/Debug/
/CoreLearning/obj/Debug/net8.0
/CoreLearning/obj/Debug/net8.0/ref
/CoreLearning/obj/Debug/net8.0/refint
/CoreLearning/obj/Debug/net8.0/staticwebassets
